<!DOCTYPE html>
<!-- RetiredSubmariners: Sasha M • Stanley H • Tahmim H -->
<html lang="en">
  <head>
    <title>Dashboard - Submarine Charts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <!-- Flashing messages -->
  <header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </header>

  <!-- Navbar -->
  <nav class="navbar">
    <ul>
      <li><a href="{{ url_for('home') }}">Home🏠</a></li>
      <li><a href="{{ url_for('upload') }}">Upload📁</a></li>
      <li><a href="{{ url_for('visual') }}">Visual👀</a></li>
      <li><a href="{{ url_for('ml') }}">AI Model⚙️</a></li>
      {% if username %}
        <div class="welcome-container">
          <span class="welcome-message">Welcome, {{ username }}!</span>
          <a href="{{ url_for('logout') }}" class="signout-btn">Sign Out</a>
        </div>
      {% endif %}
    </ul>
  </nav> 

  <!-- Main Content  -->
  <body>
    {% if username %}
      <h2>Hello {{username }}</h2>
      <button class="btn btn-primary" type="submit"><a href="/upload">Upload New File</a></button>

      {% if files %}
        <!-- Search bar + file display -->
        <div class="search-container">
          <input type="text" id="file-search" placeholder="Search files…">
        </div>

        <h3>Your Uploaded Files:</h3>
        <div class="file-window">
          <ul class="file-list">
            {% for filename, file_id in files %}
              <li>
                <a href="{{ url_for('visual', file_id=file_id) }}"
                  data-filetype="{{ filename.rsplit('.',1)[1] }}">{{ filename }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <!-- If no files ask user to upload one -->
        <h2>You currently don't have any files uploaded! Upload one to get started!</h2>
      {% endif %}
    {% else %}
      <h2>Welcome to RetiredSubmarine Charts</h2>
      <p>To save your data, please log in.</p>
      <div class="login-register-container">
        <a href="{{ url_for('login') }}"><button class="btn btn-primary">Go to Login</button></a>
      </div>
    {% endif %}

    <script src="/static/js/index.js" defer></script>
  </body>
</html>
