<!DOCTYPE html>
<!--
  RetiredSubmariners: Sasha M, Stanley H, Tahmim H
  SoftDev
  P04: SubmarineCharts
  2025-04-21
  Time Spent:
-->
<html lang="en">
<head>
  <title>Dashboard - Submarine Charts</title>
</head>
<body>
  <header>
    <!-- Allows flashing messages in the html -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
  </header>
  <h2>Welcome, {{ username }}</h2>
  <a href="/upload">Upload New File</a>
  <h3>Your Uploaded Files:</h3>
  <ul>
    {% for file in files %}
      <li><a href="{{ url_for('visual', file_id=file.id) }}">{{ file.filename }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>
