<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register - Submarine Charts</title>
</head>
<body>
  <header>
    <!-- Allows flashing messages in the html -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
  </header>
  <h2>Register</h2>
  <form method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
