<!DOCTYPE html>
<html lang="en">
<head>
  <title>Visualize - Submarine Charts</title>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="/static/js/visual.js" defer></script>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <!-- Allows flashing messages in the html -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
  </header>
  <!-- Navbar -->
  <nav class="navbar">
    <ul>
        <li><a href="{{ url_for('home') }}">Home🏠</a></li>
        <li><a href="{{ url_for('upload') }}">Upload📁</a></li>
        <li><a href="{{ url_for('visual') }}">Visual👀</a></li>
        <li><a href="{{ url_for('ml') }}">AI Model⚙️</a></li>
        <!-- Username and signout button is signed in -->
        {% if username %}
            <div class="welcome-container">
                <span class="welcome-message">Welcome, {{ username }}!</span>
                <a href="{{ url_for('logout') }}" class="signout-btn">Sign Out</a>
            </div>
        {% endif %}
    </ul>
  </nav>
  {% if username %}
  {% if selected %}
  {% else %}
  <h3>Your Uploaded Files:</h3>
  <ul>
    {% for filename, file_id in files %}
      <li><a href="{{ url_for('visual', file_id=file_id) }}">{{ filename }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endif %}
  {% if selected %}
  <h2>Visualize {{selected}}</h2>
  <form id="chart-options">
    <label>Graph Type:
      <select name="chartType">
        <option value="bar">Bar</option>
        <option value="line">Line</option>
        <option value="scatter">Scatter</option>
      </select>
    </label><br>
    <label>Fields to Plot:</label><br>
    {% for header in headers %}
      <input type="checkbox" name="fields" value="{{ header }}">{{ header }}<br>
    {% endfor %}
    <button type="submit">Generate Graph</button>
  </form>
  <div id="chart"></div>
  {% else %}
  <h2>SELECT A FILE</h2>
  {% endif %}
</body>
</html>
